{% load i18n %}

{% block subject %}
{% blocktrans %}Подтверждение регистрации на{{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы успешно зарегестрировались на {{ site_name }}.{% endblocktrans %}


{% endblock text_body %}

{% block html_body %}

<p>{% blocktrans %}Это письмо-подтверждение о том, что вы успешно зарегестрировались на {{ site_name }}.{% endblocktrans %}</p>
<p>{% trans "Чтобы продолжить перейдите по ссылке:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/recipes/create/">Опубликовать первый рецепт</a></p>

<p>{% trans "Спасибо, что посетили наш сайт :)" %}</p>

<p>{% blocktrans %} Команда {{ site_name }} {% endblocktrans %}</p>

{% endblock html_body %}